.haiku
  - haiku = escape_html(@haiku['text'])
  = haiku.gsub("\n","<br />")

.is_it_a_haiku{:class => (@haiku['haiku'] ? "yes" : "no")}
  - if @haiku['haiku']
    .japanese
      &#12399;&#12356;&#12290;
    .english
      (Yes)
  - else
    .japanese
      &#12358;&#12358;&#12435;
    .english
      (No)

  - if flash[:show_random_link]
    .more
      %a{:href => "/haikus"} View another &raquo;

.share
  :plain
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_floating_style addthis_16x16_style" style="left:50px;top:50px;">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_preferred_4"></a>
    <a class="addthis_button_compact"></a>
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-513cfdb5776896d4"></script>
    <!-- AddThis Button END -->
