#haiku_form
  %form{:action => "/", :method => "post", :id => "form"}
    .textarea
      %textarea{:name => "haiku", :class => "haiku default_input", :id => "textarea"}= @random_haiku['text']
      %script{:type => "text/javascript"}
        :plain
          $("#textarea").focus(function() {
            if ($("#textarea").hasClass("default_input")) {
              $("#textarea").val("").removeClass("default_input");
              $("#submit_button").click(function() {$("#form").submit()})
            }
          });
    .submit 
      #submit_button
        ?