#haiku_form
  %form{:action => "/", :method => "post", :id => "form"}
    .textarea
      %textarea{:name => "haiku", :class => "haiku default_input", :id => "textarea"}="This is the first line\nand this is the second line\nand this is the third"
      %script{:type => "text/javascript"}
        :plain
          $("#textarea").focus(function() {
            if ($("#textarea").val().match(/^This is the first/)) {
              $("#textarea").val("").removeClass("default_input");
            }
          });
    .submit 
      #submit_button
        ?
      %script{:type => "text/javascript"} $("#submit_button").click(function() {$("#form").submit()})