%html
  %head
    %title Is it a Haiku?
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://yui.yahooapis.com/2.8.1/build/reset-fonts-grids/reset-fonts-grids.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/fonts.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheet.css"}

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}
    
  %body
    #doc
      #hd
        %h1 
          %a{:href => "/"}
            Is it a Haiku?
        
      #bd
        #yui-main
          .yui-b
            = yield
      
      #ft
        .more
          %a{:href => "/haikus"} Random haiku &raquo;
        
      #attribution
        %a{:href => "http://github.com/bantic/is-it-a-haiku"} Created
        %br
        by
        %br
        %a{:href => "http://twitter.com/bantic"} Cory Forsyth
