%html
  %head
    %title Is it a Haiku?
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://yui.yahooapis.com/2.8.1/build/reset-fonts-grids/reset-fonts-grids.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/fonts.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheet.css"}

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}
    :plain
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17816301-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      
  %body
    #doc
      #hd
        %h1 
          %a{:href => "/"}
            Is it a Haiku?
        
      #bd
        #yui-main
          .yui-b
            = yield
      
      #ft
        .more
          %a{:href => "/haikus"} Random haiku &raquo;
        
      #attribution
        %a{:href => "http://github.com/bantic/is-it-a-haiku"} Created
        %br
        by
        %br
        %a{:href => "http://twitter.com/bantic"} Cory Forsyth

    :plain
      <script type="text/javascript">
      lloogg_clientid = "1000221b1604e07";
      </script>
      <script type="text/javascript" src="http://lloogg.com/l.js?c=1000221b1604e07">
      </script>